<div class="flex-homepage">
  <p clas="titre-homepage" >Bienvenue sur le blog coopératif des héros</p>
</div>

<div class="boutons-homepage">
  <%= link_to "Nouveau héros", new_card_path(@card) , class:"boutonNewHero"%></a>
  <%= link_to "Tous les héros", cards_path , class:"boutonTotalHero"%></a>
</div>
