<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="M'OG" content="width=device-width, initial-scale=1.0">
  <title>Accueil</title>
</head>

<h1>Bienvenue sur le blog coopératif des héros</h1>

<div>
  <a class="nav-link"><%= link_to "Nouveau héros", new_card_path(@card)%></a>
  <a class="nav-link"><%= link_to "Tous les héros", cards_path%></a>
<div>

<body>

</body>
</html>
