<div class="col-md-3">
  <div class="card mb-4">
    <%= image_tag card.image, class: 'img-fluid card-img-top' %>
    <div class="card-body">
      <p class="card-title"><%= card.pseudonym %></p>
      <%= link_to "Voir ce héros", card , class:"btn btn-outline-danger stretched-link"%>
    </div>
  </div>
</div>
