<h1>Éditer</h1>

<%= render "form", card: @card %>

<br>

<div>
  <%= link_to "Voir ce héros", @card , class:"btn btn-outline-danger"%> |
  <%= link_to "Retour", cards_path , class:"btn btn-outline-danger"%>
</div>
