<p style="color: green"><%= notice %></p>

<h1>Cards</h1>

<div class="case container" id="cards">
  <% @cards.each do |card| %>
    <div class="cartes row">
    <%= render card %>
    <p>
    <%= link_to "Show this card", card , class:"btn btn-outline-danger"%>
  </p>
    </div>

  <% end %>
</div>

<%= link_to "Nouvelle carte", new_card_path , class:"btn btn-outline-danger"%>
