<p style="color: green"><%= notice %></p>

<h1>Héros</h1>

<div class="row">
  <% @cards.each do |card| %>
    <%= render card %>
  <% end %>
</div>

<%= link_to "Nouvelle carte", new_card_path , class:"btn btn-outline-danger"%>
