<h1 class=container titre-nv-heros>Nouveau héros</h1>

<%= render "form", card: @card %>

<br>

<div class="btn">
  <%= link_to "Toutes les cartes", cards_path , class:"btn btn-outline-danger"%>
</div>
