.navbar {
  background-color: black;
  color: aliceblue;
  padding: 1rem;
}

.container-flui li a {
  color: aliceblue;
}

.container-fluid a {
  color: aliceblue;
}

.logo-mog {
  background-color: red;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.titre-nv-heros {
  padding: 1rem!important;
  margin-top: 1rem!important;
}

.btn {
  background-color: red;
}
