.navbar {
  background-color: black;
  color: aliceblue;
  padding: 2rem;
}

.container-flui li a {
  color: aliceblue;
}

.container-fluid a {
  color: aliceblue;
}

.logo-mog {
  background-color: red;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}
