.navbar {
  background-color: #202020;
  color: aliceblue;
  padding: 1rem;
}

.navbar-collapse {
  justify-content: space-between;
}

.nav-item {
  align-items: center;
}

.container-flui li a {
  color: aliceblue;
}

.container-fluid a {
  color: aliceblue;
}

.logo-mog {
  background-color: red;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.titre-nv-heros {
  padding: 1rem!important;
  margin-top: 1rem!important;
}

.btn {
  background-color: red;
}

.footer {
  background-color: black;
  color: aliceblue;
  opacity: 100%!important;
}

.case {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* img {
  width: 100px;
} */

.cartes {
  max-width: 350px;
  padding: 3rem;

}

.cartes p {
  word-wrap: break-word;
}

.bouton-accueil {
  display: flex;
}

.flex-homepage {
  display: flex;
  justify-content: center;
  margin: 2rem;
  padding-bottom: 5rem;
}

.titre-homepage {
  margin-top: 5rem!important;
}

.boutons-homepage {
  display: flex;
  justify-content: center;
}
.boutonNewHero {
  /* display: flex;
  justify-content: center; */
  border: solid 1px black;
  margin: 20px;
  padding-left: 40px;
  padding-right: 40px;
  text-decoration: none;
  text-decoration-color: black;
  color: black;
}
.boutonTotalHero {
  /* display: flex;
  justify-content: center; */
  border: solid 1px black;
  margin: 20px;
  padding-left: 40px;
  padding-right: 40px;
  text-decoration: none;
  text-decoration-color: black;
  color: black;
}
